.container {
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.title {
	font-size: 48px;
	font-weight: 500;
	line-height: 60px;
	background: linear-gradient(90deg, #ff7e5f, #6a11cb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.post {
	margin-top: 60px;
	display: flex;
	align-items: center;
	gap: 50px;
}


.image {
	min-width: 300px;
	min-height: 300px;
	object-fit: cover;
	border-radius: 5px;
}

@media screen and (max-width: 1050px) {
	.image {
		display: none;
	}

	.container {
		height: 200px;
		position: relative;
	}

	.title {
		position: absolute;
		font-size: 36px;
		line-height: 50px;
	}

}

@media screen and (max-width: 700px) {
	.container {
		height: 150px;
		position: relative;
	}
	.title {
		font-size: 24px;
		line-height: 40px;
		font-weight: 700;
	}
}

@media screen and (max-width: 400px) {
	.title {
		font-size: 20px;
		font-weight: 600;
	}
}