.container {
	margin-top: 30px;
}

.title {
	font-size: 4.5vw;
	font-weight: 500;
}

.post {
	margin-top: 60px;
	display: flex;
	align-items: center;
	gap: 50px;
}

.imgContainer {
	flex: 1;
	height: 500px;
	position: relative;
}

.image {
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 5px;
}

.textContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.postTitle {
	font-size: 32px;
}

.postDescription {
	font-size: 20px;
	font-weight: 300;
	color: var(--softTextColor);
}

.button {
	padding: 16px 20px;
	border: none;
	border-radius: 5px;
	width: max-content;
	cursor: pointer;
}

@media screen and (max-width: 1080px) {
	.imgContainer {
		display: none;
	}

	.title {
		font-size: 6vw;
	}
}

@media screen and (max-width: 800px) {
	.imgContainer {
		display: none;
	}

	.title {
		font-size: 32px;
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: 28px;
	}
}
