.container {
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.title {
	font-size: 48px;
	font-weight: 500;
	line-height: 60px;
	background: linear-gradient(90deg, #ff7e5f, #6a11cb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.post {
	margin-top: 60px;
	display: flex;
	align-items: center;
	gap: 50px;
}


.image {
	min-width: 300px;
	min-height: 300px;
	object-fit: cover;
	border-radius: 5px;
}

