.title {
	margin: 50px 0px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.category {
	display: flex;
	align-items: center;
	gap: 10px;
	text-transform: capitalize;
	width: 15%;
	height: 80px;
	justify-content: center;
	border-radius: 10px;
}

.category[data-category="style"] {
  background-color: #57c4ff31;
}

.category[data-category="fashion"] {
  background-color: #da85c731;
}

.category[data-category="food"] {
	background-color: #7fb88133;
}

.category[data-category="travel"] {
	background-color: #ff795736;
}

.category[data-category="culture"] {
	background-color: #ffb04f45;
}

.category[data-category="coding"] {
	background-color: #5e4fff31;
}

.image {
	border-radius: 50%;
}

.description {
	display: inline-block; 
}

.description::first-letter {
	text-transform: uppercase;
}