.container {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	gap: 50px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 20px 0;
}



.imgBlock {
	height: 100%;
	object-fit: cover;
}

.cardBlock {
	gap: 20px;
}

.imageContainer {
	flex: 1;
	height: 350px;
	position: relative;
}

.image {
	border-radius: 5px;
	object-fit: cover;
}

.imageLoading {
	width: 100%;
	height: 350px;
	background: linear-gradient(90deg, #eee 30%, #ddd 60%, #eee 70%);
	background-size: 200% auto;
	animation: gradientAnimation 1.5s linear infinite;
  }

  .titleLoading {
	width: 200px;
	height: 50px;
	background: linear-gradient(90deg, #eee 30%, #ddd 60%, #eee 70%);
	background-size: 200% auto;
	animation: gradientAnimation 1.5s linear infinite;
	border-radius: 5px;
  }

  .descriptionLoading {
	width: 350px;
	height: 20px;
	background: linear-gradient(90deg, #eee 30%, #ddd 60%, #eee 70%);
	background-size: 200% auto;
	animation: gradientAnimation 1.5s linear infinite;
	border-radius: 5px;
  }
  
  @keyframes gradientAnimation {
	0% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0 50%;
	}
  }


 
  

.textContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
}


.detail {
	margin-bottom: 20px;
}

.date {
	color: gray;
}

.category {
	color: crimson;
	text-transform: uppercase;
	font-weight: 500;
}

.description {
	font-size: 18px;
	font-weight: 300;
	color: var(--softTextColor);
}

.title {
	font-size: 24px;
	font-weight: 600;
}


.link {
	width: 150px;
	margin-top: 35px;
}

@media screen and (max-width: 1280px) {
	.imageContainer {
		display: none;
	}
}

