.container {
	margin-top: 50px;
	padding: 25px 25px;
	background-color: #006FEE;
	display: flex;
	justify-content: space-between;
	border-radius: 20px 20px 0 0;
	color: var(--softTextColor);
	border-top: 1px solid var(--softBg);
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logoText {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
}

.description {
	width: 60%;
	font-weight: 300;
	margin: 20px 0;
}

.info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.imgBlock {
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social {
	display: flex;
	gap: 20px;
}

.social__block {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}



.icons {
	display: flex;
	gap: 10px;
}

.links {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	gap: 100px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 300;
}

.listTitle {
	font-weight: bold;
}

@media screen and (max-width: 1024px) {
	.links {
		gap: 50px;
	}

	.description {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		gap: 50px;
	}

	.links {
		width: 100%;
		justify-content: space-between;
	}
}

@media screen and (max-width: 640px) {
	.links {
		font-size: 14px;
	}
}