.container {
	margin-top: 50px;
	padding: 40px 0;

	display: flex;
	justify-content: space-between;
	color: var(--softTextColor);
	border-top: 1px solid var(--softBg);
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logoText {
	font-size: 24px;
}

.description {
	width: 60%;
	font-weight: 300;
	margin: 20px 0;
}

.icons {
	display: flex;
	gap: 10px;
}

.links {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	gap: 100px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 300;
}

.listTitle {
	font-weight: bold;
}

@media screen and (max-width: 1024px) {
	.links {
		gap: 50px;
	}

	.description {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		gap: 50px;
	}

	.links {
		width: 100%;
		justify-content: space-between;
	}
}

@media screen and (max-width: 640px) {
	.links {
		font-size: 14px;
	}
}