
.px-6 {
	width: 100% !important;
	max-width: 100% !important;
}

.title__page {
	font-weight: 700;
}

.navbarContent {
	padding-left: 2rem;
}


.textNavbar {
	font-size: 32px !important;
}

nav {
	justify-content: space-between !important;
}

@media screen and (max-width: 800px) {
	.navbarContent {
		display: none !important;
	}

	.button__block {
		display: none !important;
	}

	.burger {
		display: flex !important;
	}

	.burger__menu {
		gap: 50px !important;
	}
}

@media screen and (max-width: 400px) {
	.textNavbar {
		font-size: 24px !important;
	}

	.burger__menu {
		gap: 35px !important;
	}
}