.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}

.wrapper {
	background-color: #eee;
	width: 100%;
	padding: 200px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-radius: 20px;
}

.socialButton {
	width: 350px;
	height: 50px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	gap: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialButton:first-child {
	background-color: #1877F2;
	color: white;
}

.socialButton:nth-child(2) {
	background-color: #fff;
    color: rgba(0, 0, 0, 0.5); 
}

.socialButton:nth-child(3) {
	background-color: #000;
	color: white;
}


@media screen and (max-width: 768px) {
	.wrapper {
		padding: 50px 100px;
	}
}

@media screen and (max-width: 640px) {
	.wrapper {
		width: 100%;
		padding: 30px;
	}
}