.container {
	margin-top: 50px;
}

.title {
	color: #006FEE;
	margin-bottom: 10px;
}

.write {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input {
	width: 100%;
	height: 150px;
	outline: none;
	border: 1px solid #006FEE;
	border-radius: 5px;
	resize: none; 
	padding: 20px;
}

.comments {
	margin-top: 50px;
}

.comment {
	margin-bottom: 50px;
}

.user {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.button {
	color: white;
}


.commentSkeleton {
	display: flex !important;
	align-items: center;
	gap: 15px;
}

.skeletonImage {
	min-width: 50px;
	min-height: 50px;
	border-radius: 50%;
	background-color: #e0e0e0;
  }
  
  .skeletonText {
	height: 20px;
	background-color: #e0e0e0;
	margin: 10px 0;
  }

  .userSkeleton {
	width: 100%;
  }
  
  .skeletonTextHalf {
	width: 50%;
  }
  
  .skeletonTextFull {
	width: 60%;
	height: 15px;
  }
  

.image {
	border-radius: 50%;
	object-fit: cover;
}

.userInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: var(--softTextColor);
}

.username {
	font-weight: 500;
}

.date {
	font-size: 12px;
}

.description {
	font-size: 18px;
	font-weight: 300;
}






