.container {
	flex: 2;
	margin-top: 60px;
}

.subtitle {
	color: gray;
	font-size: 16px;
	font-weight: 400;
}

.title {
	font-size: 28px;
}

.items {
	margin-top: 35px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 35px;
}



.item {
	display: flex;
	align-items: center;
	gap: 20px;
}

.imageContaienr {
	flex: 1;
	aspect-ratio: 1/1;
	position: relative;
}

.image {
	border-radius: 50%;
	border: 3px solid lightgray;
	object-fit: cover;
}

.textContainer {
	flex: 4;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.category {
	width: max-content;
	padding: 3px 8px;
	border-radius: 10px;
	font-size: 12px;
	color: white;
}

.category {
	color: #333;
	font-weight: 500;
}

.category[data-category="style"] {
	background-color: #57c4ff31;
}

.category[data-category="fashion"] {
	background-color: #f944d231;
}

.category[data-category="food"] {
	background-color: #30fe3633;
}

.category[data-category="travel"] {
	background: #ff674236 !important;
}

.category[data-category="culture"] {
	background: #ffb04f45;
}

.category[data-category="coding"] {
	background: #4f3fff31 !important;
}

.user__block {
	margin-left: 10px;
}

.card {
	width: 450px;
}

.postTitle {
	font-size: 18px;
	font-weight: 500;
	color: var(--softTextColor);
}

.detail {
	font-size: 12px;
}

.date {
	color: gray;
}

.categoryList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.categoryList a  {
	background-color: green;
	width: max-content;
	height: auto;
	padding: 10px 20px;
}

.categoryList img {
	display: none;
}

.categoryList h1 {
	font-size: 28px;
}

.categoryList div {
	width: 350px;
}

.categoryList div div div div{
	width: auto;
}


@media screen and (max-width: 1280px) {
	.card {
		width: 350px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		display: none;
	}
}